* {
    border: 2px solid turquoise;
}

/*** Universal Styles ***/

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 100%;
}

/*** Header Section ***/

h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 2.5em;
}

li {
    list-style: none;
    padding: 0.8em;
}

header {
    display: flex;
    align-content: center;
    border: 2px solid red;
}

.logo {
    height: 100px;
    margin: auto;
}

.flag {
    height: 50px;
    padding-left: 0.5em;
}

nav {
    margin-left: auto;
    margin: auto;
    height: fit-content;

}

ul {
    display: inline-flex;
}

/******* Main Section *******/


/*** Banner Section ***/

.banner {
    background-image: url("images/backpacker-group-dirt-trail.jpeg");
    min-height: 900px;
    background-size: cover;
    opacity: 0.9;
    display: flex;
    flex: 1 2 900px;
    justify-content: center;
    
}

.quote {
    background-color: gray;
    color: orange;
    opacity: 0.7;
    text-align: center;
    font-size: 2em;
    font-family: 'Courgette', cursive;
    margin-top: 4em;
    margin-bottom: auto;
    width: 100%;

}

/*** Events Section ***/

#events {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-areas: 'testimonial1 testimonial2 calendar'
}

.testimonial {
    background-color: skyblue;
    padding: 1em;
    width: 100%;
}

.testimonial img {
    width: 150px;
    height: auto;
    border: 2px solid red;
    margin: auto;
} 

.testimonial.item1 {
    grid-area: testimonial1;
}

.testimonial.item2 {
    grid-area: testimonial2;
}

.calendar {
    grid-area: calendar;
}

.buttons {
    grid-area: calendar;
}

/*** Image Gallery Section ***/

#image-gallery {
    display: grid;
    border: 2px solid purple;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    grid-template-areas: 
    'img1 img1 img2 img2 img2 img3 img3 img4 img4 img4'
    'img1 img1 img2 img2 img2 img3 img3 img4 img4 img4'
    'img5 img5 img2 img2 img2 img3 img3 img9 img9 img9'
    'img5 img5 img7 img7 img8 img8 img8 img9 img9 img9'
    'img6 img6 img7 img7 img8 img8 img8 img9 img9 img9'
    'img6 img6 img7 img7 img8 img8 img8 img9 img9 img9';
}
.gallery {
    width: 100%;
    height: 100%;
}
.gallery-img {
    max-width: 100%;
    max-height: 100%;
    border: 2px solid orange;
}

.gallery.item1 {
    grid-area: img1;
    border: 2px solid red;
}

.gallery.item2 {
    grid-area: img2;
}

.gallery.item3 {
    grid-area: img3;
}

.gallery.item4 {
    grid-area: img4;
}

.gallery.item5 {
    grid-area: img5;
}

.gallery.item6 {
    grid-area: img6;
}

.gallery.item7 {
    grid-area: img7;
}

.gallery.item8 {
    grid-area: img8;
}

.gallery.item9 {
    grid-area: img9;
}

