* {
    border: 2px solid turquoise;
}

/*** Universal Styles ***/

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body {
    width: 100%;
    height: 100%;
    margin-right: 10px;
    
}

/*** Header Section ***/

h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 2.5em;
}

h2 {
    font-size: 1.75em;
}

li {
    list-style: none;
    padding: 0.8em;
}

header {
    display: flex;
    align-content: center;
    border: 2px solid red;
}

.logo {
    height: 100px;
    margin: auto;
}

.flag {
    height: 50px;
    padding-left: 0.5em;
}

nav {
    margin-left: auto;
    margin: auto;
    height: fit-content;

}

ul {
    display: inline-flex;
}

/******* Main Section *******/
main {
    width: 100%;
    height: 100%;
    margin: 10px;
}

/*** Banner Section ***/

.banner {
    background-image: url("images/backpacker-group-dirt-trail.jpeg");
    min-height: 900px;
    background-size: cover;
    opacity: 0.9;
    display: flex;
    flex: 1 2 900px;
    justify-content: center;
    
}

.quote {
    background-color: gray;
    color: orange;
    opacity: 0.7;
    text-align: center;
    font-size: 2em;
    font-family: 'Courgette', cursive;
    margin-top: 4em;
    margin-bottom: auto;
    width: 100%;

}

/*** Events Section ***/

#testimonials {
    display: grid;
    grid-template-rows: 50px; 1fr;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 10px;
    grid-template-areas:
    'title title event'
    'testimonial1 testimonial2 calendar'
}

.testimonial {
    background-color: skyblue;
    width: 100%;
}

.testimonial img {
    display: block;
    width: 150px;
    height: auto;
    border: 2px solid red;
    margin: auto;
} 

#testimonials h2 {
    grid-area: title;
    margin: auto;
}

#events h2 {
    grid-area: event;
    margin: auto;
}

.testimonial.item1 {
    grid-area: testimonial1;
}

.testimonial.item2 {
    grid-area: testimonial2;
}

.calendar {
    grid-area: calendar;
}

/*** Image Gallery Section ***/

#image-gallery {
    width: 100%;
    height: 100%;
    display: grid;
    border: 2px solid purple;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 50px 200px 300px;
    gap: 15px;
    grid-auto-flow: dense;
    
}
.gallery {
    width: 100%;
    height: 100%;
    margin: 0;
}
.gallery-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: 50% 50%;
    border: 2px solid orange;
}

#image-gallery h2 {
grid-column: span 8;
margin: auto;
}

.gallery.item1 {
    grid-column: span 2;
    grid-row: span 2;
    border: 2px solid red;
}

.gallery.item2 {
    grid-column: span 3;
    grid-row: span 1;
}

.gallery.item3 {
    grid-column: span 3;
    grid-row: span 2;
}

.gallery.item4 {
    grid-column: span 3;
    grid-row: span 1;
}

.gallery.item5 {
    grid-column: span 3;
    grid-row: span 2;
}

.gallery.item6 {
    grid-column: span 3;
    grid-row: span 4;
}

.gallery.item7 {
    grid-column: span 2;
    grid-row: span 2;
}

.gallery.item8 {
    grid-column: span 3;
    grid-row: span 2;
}

.gallery.item9 {
    grid-column: span 2;
    grid-row: span 2;
}

/*** Footer Section ***/

.icons img {
    height: 50px;
}